# Homework 7: Group 1
#### KNN

David Jung, Ryan Voges, Emily Blake, Spencer Powell, Abraham Alhomadi

In this exercise I want you to apply KNN regression model to the bikeshare data set which is available on the GitHub folder for HW7. The data are 17379 observations of hourly counts from 2011 to 2012 for bike rides (rentals) from the Capital Bikeshare system in Washington DC. It was originally compiled by Fanaee and Gama in ‘Event labeling combining ensemble detectors and background knowledge’ (2013).

You will be qualified to get full mark if you beat the following performance metrics: 
Question 1:        RMSE_test = 65 
Question 2:   error_rate_test = 0.05 when threshold =0.5

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [13]:
rand_state= 1000

Question 1: KNN Regression (45 points)

Import the bikeshare.csv as a data frame and name it as df. bikeshare.csv contains:

In [14]:
df = pd.read_csv("bikeshare.csv")

In [15]:
df.head()

,season,yr,mnth,hr,holiday,weekday,notbizday,weathersit,temp,hum,windspeed,dteday,cnt
0,1,0,1,0,0,6,1,1,-1.334609,0.947345,-1.553844,2011-01-01,16
1,1,0,1,1,0,6,1,1,-1.438475,0.895513,-1.553844,2011-01-01,40
2,1,0,1,2,0,6,1,1,-1.438475,0.895513,-1.553844,2011-01-01,32
3,1,0,1,3,0,6,1,1,-1.334609,0.636351,-1.553844,2011-01-01,13
4,1,0,1,4,0,6,1,1,-1.334609,0.636351,-1.553844,2011-01-01,1

1. Drop the dteday variable and then define your feature space and target variables. Split the data into test (20%) and train set (80%)

In [16]:
df.drop("dteday", axis=1)

,season,yr,mnth,hr,holiday,weekday,notbizday,weathersit,temp,hum,windspeed,cnt
0,1,0,1,0,0,6,1,1,-1.334609,0.947345,-1.553844,16
1,1,0,1,1,0,6,1,1,-1.438475,0.895513,-1.553844,40
2,1,0,1,2,0,6,1,1,-1.438475,0.895513,-1.553844,32
3,1,0,1,3,0,6,1,1,-1.334609,0.636351,-1.553844,13
4,1,0,1,4,0,6,1,1,-1.334609,0.636351,-1.553844,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,0,2,-1.230743,-0.141133,-0.211685,119
17375,1,1,12,20,0,1,0,2,-1.230743,-0.141133,-0.211685,89
17376,1,1,12,21,0,1,0,1,-1.230743,-0.141133,-0.211685,90
17377,1,1,12,22,0,1,0,1,-1.230743,-0.348463,-0.456086,61
17378,1,1,12,23,0,1,0,1,-1.230743,0.118028,-0.456086,49

In [17]:
# Defining our target variable and the features and splitting the dataset into train and test:
y = df['cnt']
X = df.drop('cnt', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.2, random_state=rand_state)

2. From sklearn.neighbors import the relevant function for KNN regression. Do the followings: (25 points)
    1. Train all the model with the default features. (5 points)
    2.Make predictions on the test set and save them as y_hat (5 points)
    3. Construct a data frame named df_predictions with 2 columns. y_test, and y_hat  from previous part (5 points)
    4. Visualize actual vs predicted counts in the test set using an scatterplot. Are you visually satisfied with the regression model?
    5. Report the RMSE_test for the KNN regression model.

3. Cross validation: (15 points)
    1. Estimate the RMSE_test by doing a 5 fold cross validation on the train set and name it as RMSE_CV. (5 points)
    2. Plot the RMSE_CV vs K and find the optimal value for K in the KNN regression model. (10 points)

Question 2: KNN Classification (105 points)

The managers of Capital Bikeshare have found that the system works smoothly until more than 500 bikes are rented in any one hour. At that point, it becomes necessary to insert extra bikes into the system and move them across stations to balance loads. Do the followings:

1. Define a binary target variable overload. Overload=1 if cnt>500 and 0 otherwise. What are the proportions of overload vs non-overload in your data set? Is the target variable balanced or imbalanced?

2. Along with the target variable, define your feature space (X) and split the data into test (30%) and train set (70%)

3. From sklearn.neighbors import the relevant function for KNN classification. Do the followings: (25 points)
    1. Train the KNN classification model using its default parameters. (5 points)
    2. Generate the predicted probabilities and predicted classifications and save them as y_hat_probs, y_hat respectively. (5 points)
    3. Plot the histogram of y_hat_probs? Explain what you see? Is there a probability threshold at which the model always predict negative or positive? (5 points)
    4. Generate predicted classifications for two different thresholds (30% and 70% threshold). Save these new predictions as y_hat_30 and y_hat_70. Which threshold should you use if your goal is to avoid too many false negatives? Explain your answer. (10 points)
    5. Construct a data frame named df_predictions with 5 columns. y_test,  and the 4 y_hats from previous parts

4. Borrow my_KNN_report() function from the python notebook of class 13. (25 points) 
    1. Report the Accuracy, precision, recall and f1 score along with the confusion matrix for threshold =0.5. Interpret all these statistics. Do you trust the accuracy of the model? why? (15 points)
    2. Now use threshold = 0.3 in the my_logistic_report() function. what happens to accuracy, precision, recall and f1 score? what happens to false negatives? is this consistent with you answer to question 5.4? (10 points)

5. Plot the ROC curve and report the AUC score. Is your model doing a better job than random prediction (no skill)?

6. Cross validation: (15 points)
    1. Estimate the error_rate_test by doing a 5 fold cross validation on the train set and name it as error_rate_CV. (5 points)
    2. Plot the error_rate_CV vs K and find the optimal value for K in the KNN classification model. (10 points)

7. As the manager of Capital Bikeshare, you are dealing with a trade of between unexpected overload cost and cost of idle bikes. If the cost of a single idle bike is smaller than the cost of a single unexpected overload, then which of the following probability thresholds would satisfy your objective? 0.3, 0.5 or 0.7? (15 points)  Hint: idle bike = False overload and unexpected overload = False non-overload